<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Content Verification In PDF" >
  <test name="Verify PDF Contents Present">
    <classes>
      <class name="com.shoaib.selenium.ContentVerificationInPDF"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
